body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

.input-box {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}

.input {
  width: 300px;
  height: 30px;
  text-align: center;
}

.submit-button-box {
  display: flex;
  width: 70px;
  height: 50px;
  background-color: blue;
  color: white;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 10px;
}

.graph-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  transform: scaleY(-1);
  height: 300px;
}

.graph-container li {
  padding: 0 10px;
}

.graph-container li div {
  position: relative;
  width: 50px;
  height: 400px;
  background-color: #89b7ff;
  margin: 0 auto;
}

.graph-container li p {
  font-size: 20px;
  color: #222;
  text-align: center;
  margin-bottom: 5px;
  transform: scaleY(-1);
}

/* .graph-container li div {
  width: 30px;
  background-color: lightblue;
  transition: height 0.5s ease;
} */

.graph-container {
  position: relative; /* Container for absolutely positioned elements */
  height: 400px;
  width: 100%;
}

.graph-container li div {
  width: 30px;
  background-color: lightblue;
  transition: height 0.5s ease; /* Smooth height transition */
}

.graph-container li p {
  margin: 0;
  padding: 5px;
  text-align: center;
}
