body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

.input-box {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}

.input {
  width: 300px;
  height: 30px;
  text-align: center;
}

.submit-button-box {
  display: flex;
  width: 70px;
  height: 50px;
  color: #FFFFFF;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 10px;
}

.submit-button-box-blue {
  background-color: #1646F9;
}

.submit-button-box-gray {
  background-color: #BBBBBD;
}

.graph-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  transform: scaleY(-1);
  position: relative;
  height: 400px;
  width: 100%;
}

.graph-container li {
  padding: 0 10px;
}

.graph-container li div {
  position: relative;
  width: 30px;
  height: 400px;
  background-color: #5acff8;
  margin: 0 auto;
  transition: height 0.5s ease;
}

.graph-container li p {
  font-size: 20px;
  color: #222;
  text-align: center;
  margin: 0 0 5px;
  padding: 5px;
  transform: scaleY(-1);
}

.graph-bar-red {
  background-color: #f86b5a !important;
}

.graph-bar-blue {
  background-color: #5acff8 !important;
}
